.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #303841;
  color: #f0f0f0;
  padding-top: 2%;
}

.contact-links {
  width: 100%;
  text-decoration: none;
  color: #f0f0f0;
  display: flex;
  justify-content: space-evenly;
}

.contact-links a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1rem;
  display: inline-block;
  padding: 5%;
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #303841;
  color: #f0f0f0;
  border-top: 4px dashed #f6c135;
  font-size: 2vw;
}
